[Desktop Entry]
Encoding=UTF-8
Name=rcoin
Comment=rcoin P2P Cryptocurrency
Comment[fr]=rcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=rcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/rcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/rcoin128.png
MimeType=x-scheme-handler/rcoin;
Categories=Office;
